.tittle{
    font-size: 26px;
    padding-left: 10px;
}

.heading{
    margin-top: 20px;
}

.genarate-button{
    margin-top: 30px !important;
    width: 20% !important;

     @media(max-width:767px) {
        width: 70% !important;
     }
}


.cards{
    margin-top: 20px;
    height: 330px !important;
}